.home-content {
  background-color: $red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  z-index: 0;
  p {
    margin-top: 1.5em;
  }
}

.cards-content {
  display: flex;
  padding: 40px;
  background: $red;
}
